PORT=4000
HOST=0.0.0.0
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET="vexo-music-admin-super-secret-jwt-key-2026"
ADMIN_EMAIL="admin@vexomusic.com"
ADMIN_PASSWORD="admin"
